<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
  <section name="hotkeys" type="Yubikey.TokenSimulator.Configuration.HotkeySection, Yubikey.TokenSimulator" />
  <section name="tokens" type="Yubikey.TokenSimulator.Configuration.YubikeysSection, Yubikey.TokenSimulator" />
 </configSections>

 <hotkeys>
  <enterOTP enabled="true" key="y" ctrl="true" alt="true" shift="false" winKey="false" />
  <incrementSession enabled="false" />
 </hotkeys>
 <tokens>
  <keys>
   <add name="Key1" secret="qBwkrwqPbBQfhswaty/k9A==" sessionCounter="0" tokenID="3PALxeHC" privateID="Cx47nzbo" keyFormat="Base64" />
   <add name="Key2" secret="ccb8918614a78003ab0e152e6e87819a" sessionCounter="0" tokenID="5dac99bbb12b" privateID="02c2f46a944e" keyFormat="Hex" />
   <add name="Key3" secret="thgnubilthnhdjudjbvcubfdlnjckvrr" sessionCounter="0" tokenID="uhbhgdufblnn" privateID="irunnfhebnbh" keyFormat="ModHex" />
	</keys>
 </tokens>
</configuration>