<?xml version="1.0" encoding="utf-8" ?>
<configuration>
 <configSections>
  <section name="hotkeys" type="Yubikey.TokenSimulator.Configuration.HotkeySection, Yubikey.TokenSimulator" />
  <section name="tokens" type="Yubikey.TokenSimulator.Configuration.YubikeysSection, Yubikey.TokenSimulator" />
 </configSections>

 <hotkeys>
  <enterOTP enabled="true" key="y" ctrl="true" alt="true" shift="false" winKey="false" enterKeyDelay="100" />
  <incrementSession enabled="false" />
 </hotkeys>
 <tokens>
  <keys>
   <add name="Key1" secret="qBwkrwqPbBQfhswaty/k9A==" sessionCounter="0" tokenID="3PALxeHC" privateID="Cx47nzbo" pressEnter="true" />
  </keys>
 </tokens>
</configuration>